@{
  ViewData["Title"] = "Repository";
}

@model RepositoryDetail

<div class="text-center">
    <div class="container-sm">
        <span class="label label-info left">@Model.Path</span>
        <span class="border">
            @foreach (var file in Model.DirectoryContent.Where(f => f.IsDirectory))
            {
                <div class="row">
                    <div class="col align-self-start">
                        <a href="./@Model.Id/tree/@Model.Path/@file.Name">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
                                <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z" />
                            </svg>
                            @file.Name
                        </a>
                    </div>
                    <div class="col">
                        @file.LastModified.DateTime.ToShortDateString()
                    </div>
                </div>
            }

            @foreach (var file in Model.DirectoryContent.Where(f => !f.IsDirectory))
            {
                <div class="row align-items-start">
                    <div class="col align-self-start">
                        <a>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-code" viewBox="0 0 16 16">
                                <path d="M6.646 5.646a.5.5 0 1 1 .708.708L5.707 8l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zm2.708 0a.5.5 0 1 0-.708.708L10.293 8 8.646 9.646a.5.5 0 0 0 .708.708l2-2a.5.5 0 0 0 0-.708l-2-2z" />
                                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z" />
                            </svg>
                            @file.Name
                        </a>
                    </div>
                    <div class="col">
                        @file.LastModified.DateTime.ToShortDateString()
                    </div>
                </div>
            }
        </span>
    </div>
    <div>
        <div class="form-group">
            <input  type="button" class="btn btn-info btn-lg float-left" value="Clone" onclick="setClipboard(window.origin + '/@Model.Name')"/>
            <a href="@Model.Id/delete">
                <input type="button" class="btn btn-success btn-lg float-right" value="Delete" />
            </a>
        </div>
    </div>
</div>